<div class="topic-index-wrapper">
    <div class="contianer">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="topic-index-single">
                      
                         <%= form_for (@post,url: posts_path(topic_id: @topic_id)) do |f| %>
                          <%= f.label :content %>
                          <%= f.text_area :content, class: 'form-control' %>
                          <%= f.submit :'送信'%>
                          <% end %>
                        
                        <h2>コメント一覧</h2>
                        <% @posts.each do |post| %>
                          
                          <h2><%= post.user.name %></h2>
                          <h3><%= post.content %></h3>
                          <p>--------------------</p>
                        <% end %>
                        
                    </div>
                </div>
            </div>
    </div>
</div>
